@tailwind base;
@tailwind components;
@tailwind utilities;

/* for hiding scrollbar */
/* ------------------------------------------------ */
@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .animation-pause {
    animation-play-state: paused;
  }
  .animation-play {
    animation-play-state: play;
  }
}
